data/raw/MachineLearningRating_v3/MachineLearningRating_v3.txt 
data/raw/MachineLearningRating_v3/MachineLearningRating_v3.txt 
data/raw/MachineLearningRating_v3/ 
"data/raw/MachineLearningRating_v3/" 
